@charset "UTF-8";

html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: salmon;
}
.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;

    /*grid-gap: 20px;*/

}
header {
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 3;
}
main {
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 2;
}
aside {
    background-color: blueviolet;
    grid-column-start: 2;
    grid-column-end: 3;

}
footer {
    background-color: darkolivegreen;
    grid-column-start: 1;
    grid-column-end: 3;
}