@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    font-family: "Nunito Sans";
}
body {
    background-color: #5F2C82;
}
main {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100vh;
}
section {
    width: 300px;
    height: 450px;

    text-align: center;

    border-radius: 20px;

    background-color: aliceblue;

    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
}
#imagem {
    display: block;
    background: #5F2C82 url(../images/predios.jpg);
    background-size: cover;
    background-position: left center;
    height: 200px;
}
#formulario{
    display: block;
    padding: 5px;
}
.dados-container {
    background-color: #5F2C82;

    width: 255px;

    margin: auto;
    margin-top: 5px;

    box-sizing: content-box;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 2px;
    
    border-radius: 5px;

    height: 25px;
}
.data-input {
    width: 230px;
    height: 25px;

    border-radius: 5px;
    border: none;

    background-color: rgb(184, 253, 230);

    text-indent: 5px;
}
.data-input::placeholder {
    color: gray;
}
.data-input:focus-within{
    background-color: white;
    color: black;
}
label i {
    color: aliceblue;
    padding-left: 2px;
}
#botoes {
    margin-top: 10px;
}
.botao {
    width: 255px;
    padding: 7px;

    border-radius: 5px;
    border: none;

    font-weight: bold;

    cursor: pointer;
}
.botao:active {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.507);
    font-size: 0.8em;
}
#entrar {
    background-color: rgb(100, 207, 172);

    color: white;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
}
#entrar:hover {
    background-color: #238380;
}
#esqueci-senha {
    margin-top: 5px;

    border: 2px solid #238380;

    color: #238380;
}
#esqueci-senha > i {
    margin-left: 5px;
}
